.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
}

.input-container {
  margin-bottom: 20px;
}

.input-container h1 {
  font-size: 2rem;
  font-weight: 800;
}

.input-container input {
  width: 300px;
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
  transition: border-color 0.3s;
}

.input-container input:focus {
  border-color: #3498db;
}

.submit-button {
  background-color: #2ecc71;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.submit-button:hover {
  background-color: #27ae60;
  transform: translateY(-2px);
}

.submitted-container {
  text-align: center;
}

.toggle-container {
  margin-bottom: 20px;
  gap: 1rem;
}

.toggle-button {
  padding: 12px 24px;
  background-color: #3498db;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  margin: 0 10px;
}

.toggle-button:hover {
  background-color: #2980b9;
}

.video-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 70vh;
  overflow-y: auto;
}

.video-card {
  width: calc(33.33% - 20px);
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.video-card:hover {
  transform: translateY(-5px);
}

.video-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.video-info {
  padding: 10px;
}

.video-title {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

.video-channel {
  font-size: 14px;
  color: #666;
}

.links-container {
  max-height: 300px;
  overflow-y: auto;
}

.link-card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.link-icon {
  margin-right: 10px;
  font-size: 20px;
}

.link-text {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: #333;
}
.input-container {
  text-align: center;
  margin-bottom: 20px;
}

.input-container h1 {
  margin-bottom: 20px;
}

.input-container input {
  width: 300px;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
  transition: border-color 0.3s;
}

.input-container input:focus {
  border-color: #3498db;
}

.submit-button {
  width: 300px;
  margin-top: 10px; /* Add margin to separate the input field and submit button */
}

@media (max-width: 600px) {
  .input-container input {
    width: 90%;
  }
  .submit-button {
    width: 90%;
  }
}
